/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.bg-primary {
  background-color: #EF5981;
}

.bg-secondary {
  background-color: #F6E3D6;
}

.bg-default {
  background-color: #C3CEDF;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #F7F7F7;
}

.bg-dark {
  background-color: #E4E4E4;
}

.text-primary {
  color: #EF5981 !important;
}

.text-secondary {
  color: #F6E3D6 !important;
}

.text-default {
  color: #C3CEDF !important;
}

.text-white {
  color: #fff !important;
}

.text-light {
  color: #F7F7F7 !important;
}

.text-dark {
  color: #E4E4E4 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1, .h1 {
  font-size: 6rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.2rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.9rem;
}

h6, .h6 {
  font-size: 0.8rem;
}

.text-italic {
  font-style: italic;
}

.btn {
  display: inline-block;
  color: #404041;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  outline: none;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-lg {
  font-size: 0.96rem;
  padding: 0.6rem 1.8rem;
}

.btn-primary {
  border-color: #EF5981;
  background-color: #EF5981;
}

.btn-primary:hover {
  background-color: transparent;
}

.btn-primary:active {
  background-color: #EF5981;
}

.btn-secondary {
  border-color: #F6E3D6;
  background-color: #F6E3D6;
}

.btn-secondary:hover {
  background-color: transparent;
}

.btn-secondary:active {
  background-color: #F6E3D6;
}

.btn-default {
  border-color: #C3CEDF;
  background-color: #C3CEDF;
}

.btn-default:hover {
  background-color: transparent;
}

.btn-default:active {
  background-color: #C3CEDF;
}

.btn-primary {
  color: #fff;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-default {
  background-color: transparent;
}

.btn-outline-primary {
  border-color: #EF5981;
}

.btn-outline-primary:hover {
  background-color: #EF5981;
}

.btn-outline-primary:active {
  background-color: transparent;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-default {
  background-color: transparent;
}

.btn-outline-secondary {
  border-color: #F6E3D6;
}

.btn-outline-secondary:hover {
  background-color: #F6E3D6;
}

.btn-outline-secondary:active {
  background-color: transparent;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-default {
  background-color: transparent;
}

.btn-outline-default {
  border-color: #C3CEDF;
}

.btn-outline-default:hover {
  background-color: #C3CEDF;
}

.btn-outline-default:active {
  background-color: transparent;
}

.border {
  border: 1px solid #404041;
}

.border-rounded {
  border-radius: 8px;
}

.p-0 {
  padding: 0;
}

.pt-0,
.py-0 {
  padding-top: 0;
}

.pb-0,
.py-0 {
  padding-bottom: 0;
}

.pl-0,
.px-0 {
  padding-left: 0;
}

.pr-0,
.px-0 {
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.mt-0,
.my-0 {
  margin-top: 0;
}

.mb-0,
.my-0 {
  margin-bottom: 0;
}

.ml-0,
.mx-0 {
  margin-left: 0;
}

.mr-0,
.mx-0 {
  margin-right: 0;
}

.p-5 {
  padding: 5px;
}

.pt-5,
.py-5 {
  padding-top: 5px;
}

.pb-5,
.py-5 {
  padding-bottom: 5px;
}

.pl-5,
.px-5 {
  padding-left: 5px;
}

.pr-5,
.px-5 {
  padding-right: 5px;
}

.m-5 {
  margin: 5px;
}

.mt-5,
.my-5 {
  margin-top: 5px;
}

.mb-5,
.my-5 {
  margin-bottom: 5px;
}

.ml-5,
.mx-5 {
  margin-left: 5px;
}

.mr-5,
.mx-5 {
  margin-right: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10,
.py-10 {
  padding-top: 10px;
}

.pb-10,
.py-10 {
  padding-bottom: 10px;
}

.pl-10,
.px-10 {
  padding-left: 10px;
}

.pr-10,
.px-10 {
  padding-right: 10px;
}

.m-10 {
  margin: 10px;
}

.mt-10,
.my-10 {
  margin-top: 10px;
}

.mb-10,
.my-10 {
  margin-bottom: 10px;
}

.ml-10,
.mx-10 {
  margin-left: 10px;
}

.mr-10,
.mx-10 {
  margin-right: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-15,
.py-15 {
  padding-top: 15px;
}

.pb-15,
.py-15 {
  padding-bottom: 15px;
}

.pl-15,
.px-15 {
  padding-left: 15px;
}

.pr-15,
.px-15 {
  padding-right: 15px;
}

.m-15 {
  margin: 15px;
}

.mt-15,
.my-15 {
  margin-top: 15px;
}

.mb-15,
.my-15 {
  margin-bottom: 15px;
}

.ml-15,
.mx-15 {
  margin-left: 15px;
}

.mr-15,
.mx-15 {
  margin-right: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-20,
.py-20 {
  padding-top: 20px;
}

.pb-20,
.py-20 {
  padding-bottom: 20px;
}

.pl-20,
.px-20 {
  padding-left: 20px;
}

.pr-20,
.px-20 {
  padding-right: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20,
.my-20 {
  margin-top: 20px;
}

.mb-20,
.my-20 {
  margin-bottom: 20px;
}

.ml-20,
.mx-20 {
  margin-left: 20px;
}

.mr-20,
.mx-20 {
  margin-right: 20px;
}

.p-25 {
  padding: 25px;
}

.pt-25,
.py-25 {
  padding-top: 25px;
}

.pb-25,
.py-25 {
  padding-bottom: 25px;
}

.pl-25,
.px-25 {
  padding-left: 25px;
}

.pr-25,
.px-25 {
  padding-right: 25px;
}

.m-25 {
  margin: 25px;
}

.mt-25,
.my-25 {
  margin-top: 25px;
}

.mb-25,
.my-25 {
  margin-bottom: 25px;
}

.ml-25,
.mx-25 {
  margin-left: 25px;
}

.mr-25,
.mx-25 {
  margin-right: 25px;
}

.p-30 {
  padding: 30px;
}

.pt-30,
.py-30 {
  padding-top: 30px;
}

.pb-30,
.py-30 {
  padding-bottom: 30px;
}

.pl-30,
.px-30 {
  padding-left: 30px;
}

.pr-30,
.px-30 {
  padding-right: 30px;
}

.m-30 {
  margin: 30px;
}

.mt-30,
.my-30 {
  margin-top: 30px;
}

.mb-30,
.my-30 {
  margin-bottom: 30px;
}

.ml-30,
.mx-30 {
  margin-left: 30px;
}

.mr-30,
.mx-30 {
  margin-right: 30px;
}

.p-40 {
  padding: 40px;
}

.pt-40,
.py-40 {
  padding-top: 40px;
}

.pb-40,
.py-40 {
  padding-bottom: 40px;
}

.pl-40,
.px-40 {
  padding-left: 40px;
}

.pr-40,
.px-40 {
  padding-right: 40px;
}

.m-40 {
  margin: 40px;
}

.mt-40,
.my-40 {
  margin-top: 40px;
}

.mb-40,
.my-40 {
  margin-bottom: 40px;
}

.ml-40,
.mx-40 {
  margin-left: 40px;
}

.mr-40,
.mx-40 {
  margin-right: 40px;
}

.p-50 {
  padding: 50px;
}

.pt-50,
.py-50 {
  padding-top: 50px;
}

.pb-50,
.py-50 {
  padding-bottom: 50px;
}

.pl-50,
.px-50 {
  padding-left: 50px;
}

.pr-50,
.px-50 {
  padding-right: 50px;
}

.m-50 {
  margin: 50px;
}

.mt-50,
.my-50 {
  margin-top: 50px;
}

.mb-50,
.my-50 {
  margin-bottom: 50px;
}

.ml-50,
.mx-50 {
  margin-left: 50px;
}

.mr-50,
.mx-50 {
  margin-right: 50px;
}

.p-60 {
  padding: 60px;
}

.pt-60,
.py-60 {
  padding-top: 60px;
}

.pb-60,
.py-60 {
  padding-bottom: 60px;
}

.pl-60,
.px-60 {
  padding-left: 60px;
}

.pr-60,
.px-60 {
  padding-right: 60px;
}

.m-60 {
  margin: 60px;
}

.mt-60,
.my-60 {
  margin-top: 60px;
}

.mb-60,
.my-60 {
  margin-bottom: 60px;
}

.ml-60,
.mx-60 {
  margin-left: 60px;
}

.mr-60,
.mx-60 {
  margin-right: 60px;
}

.p-80 {
  padding: 80px;
}

.pt-80,
.py-80 {
  padding-top: 80px;
}

.pb-80,
.py-80 {
  padding-bottom: 80px;
}

.pl-80,
.px-80 {
  padding-left: 80px;
}

.pr-80,
.px-80 {
  padding-right: 80px;
}

.m-80 {
  margin: 80px;
}

.mt-80,
.my-80 {
  margin-top: 80px;
}

.mb-80,
.my-80 {
  margin-bottom: 80px;
}

.ml-80,
.mx-80 {
  margin-left: 80px;
}

.mr-80,
.mx-80 {
  margin-right: 80px;
}

.p-100 {
  padding: 100px;
}

.pt-100,
.py-100 {
  padding-top: 100px;
}

.pb-100,
.py-100 {
  padding-bottom: 100px;
}

.pl-100,
.px-100 {
  padding-left: 100px;
}

.pr-100,
.px-100 {
  padding-right: 100px;
}

.m-100 {
  margin: 100px;
}

.mt-100,
.my-100 {
  margin-top: 100px;
}

.mb-100,
.my-100 {
  margin-bottom: 100px;
}

.ml-100,
.mx-100 {
  margin-left: 100px;
}

.mr-100,
.mx-100 {
  margin-right: 100px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
}

form input,
form textarea {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #404041;
  font-size: 0.8rem;
  border-radius: 8px;
  outline: none;
  padding: 10px 12px;
  background-color: #E4E4E4;
}

html {
  font-size: 20px;
  color: #404041;
  font-family: "Microsoft JhengHei";
}

p,
span,
a {
  line-height: 1.3rem;
  font-size: 0.8rem;
}

a {
  color: #0B0BF8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a:not(.btn):hover {
  opacity: 0.6;
}

a:not(.btn):active {
  opacity: 1;
}

.banner {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-title-en, .bg-title-tw {
  font-weight: 400;
  font-size: 6rem;
  margin-bottom: 25px;
}

.bg-title-en {
  line-height: 85px;
}

@media screen and (max-width: 768px) {
  .bg-title-en {
    font-size: 2.4rem;
    line-height: 33px;
    margin-bottom: 30px;
  }
}

.bg-title-tw {
  line-height: 111px;
}

@media screen and (max-width: 768px) {
  .bg-title-tw {
    font-size: 2.4rem;
    line-height: 44px;
    margin-bottom: 30px;
  }
}

.list li:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  background-size: cover;
  background-position: center center;
}

.image-fixed {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

.desktop-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-hidden {
    display: initial;
  }
}

nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 80px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(180, 180, 180, 0);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  nav {
    padding-left: 15px;
    padding-right: 15px;
  }
}

nav .logo {
  width: 120px;
}

@media screen and (max-width: 768px) {
  nav .logo {
    width: 80px;
  }
}

nav a {
  color: #fff;
  padding: 10px 20px;
}

nav a.btn {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  nav a.btn {
    margin-left: 0;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
    height: 100vh;
    padding-top: 73px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #404041;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  nav ul > li {
    margin-bottom: 20px;
  }
  nav ul a,
  nav ul a.btn {
    display: inline-block;
    font-size: 1.44rem;
    padding: 16px 25px;
    border-radius: 12px;
  }
}

nav.is-scrolled {
  background-color: rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav.open ul {
  -webkit-transform: initial;
          transform: initial;
}

nav.open .navigation-m-btn > div {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: #fff;
}

.navigation-m-btn {
  width: 35px;
  height: 35px;
  display: none;
  position: relative;
  z-index: 200;
}

.navigation-m-btn > div {
  width: 100%;
  height: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background-color: #404041;
}

@media screen and (max-width: 768px) {
  .navigation-m-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

section {
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  section {
    padding-bottom: 30px;
  }
}

footer {
  padding: 40px 0 80px;
}

@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 20px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 20px;
  }
  footer .container > .reference-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0;
  }
}

footer i {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  footer i {
    font-size: 1.6rem;
  }
}

footer p {
  line-height: 1;
}

@media screen and (max-width: 768px) {
  footer p {
    line-height: 1.3rem;
  }
}

footer a {
  color: #404041;
}

footer h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  footer h6 {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 768px) {
  footer .mr-m-5 {
    margin-right: 5px;
  }
}

footer .reference-info {
  text-align: center;
}

footer .reference-info br {
  display: none;
}

@media screen and (max-width: 768px) {
  footer .reference-info br {
    display: block;
  }
}

nav.navigation-index {
  padding: 10px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-banner {
  position: relative;
  color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .index-banner {
    padding-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.index-banner h4 {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .index-banner h4 {
    margin-bottom: 20px;
  }
}

.index-banner .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.index-banner .image-fixed {
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
}

.section-product {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .section-product {
    padding-top: 30px;
  }
}

.section-product ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .section-product ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-product li {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-product li h3 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .section-product li h3 {
    margin-bottom: 10px;
  }
}

.section-product li img {
  width: 60%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section-product li img {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .section-product li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-member {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .section-member {
    padding-top: 30px;
  }
}

.section-member .btn-primary:hover {
  color: #EF5981;
}

.section-member .cat-hand {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .section-member .cat-hand {
    width: 60px;
    margin-right: 20px;
    position: relative;
    bottom: 8px;
  }
}

.story-intro {
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .story-intro {
    padding: 0;
  }
  .story-intro > p:first-of-type {
    text-indent: 0.8rem;
  }
}

.story-intro > i {
  font-size: 0.8rem;
}

.story-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story-figure .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 220px;
}

.story-figure .spacer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.story-figure .story-figure-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story-figure:nth-of-type(even) .image {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.story-figure:nth-of-type(even) .spacer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.story-figure:nth-of-type(even) .story-figure-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  .story-figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story-figure .image {
    width: 50%;
    height: 130px;
  }
  .story-figure .spacer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
  .story-figure:nth-of-type(even) .image {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .story-figure:nth-of-type(even) .spacer {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .story-figure:nth-of-type(even) .story-figure-content {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.wrapper {
  overflow-x: auto;
  margin: 0 120px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 30px;
  }
}

.team-menber-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .team-menber-list {
    margin-bottom: 20px;
  }
}

.team-menber-list > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.team-menber-list > li:not(:last-child) {
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .team-menber-list > li:not(:last-child) {
    margin-right: 30px;
  }
}

.team-menber-list > li > h5 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.team-menber-list > li > p {
  line-height: 1rem;
}

.team-menber-list > li > img {
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
}

.contact-us-form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-us-form {
    width: 100%;
  }
  .contact-us-form input {
    font-size: 17px;
  }
}

.contact-us-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.contact-us-form .input-group > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-us-form .input-group > .spacer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

@media screen and (max-width: 768px) {
  .contact-us-form .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .contact-us-form .input-group > .spacer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
}

.contact-us-form > div,
.contact-us-form > textarea {
  width: 100%;
}

.navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.literature-banner {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.literature-banner .image-fixed {
  -webkit-filter: brightness(50%) opacity(55%) grayscale(40%);
          filter: brightness(50%) opacity(55%) grayscale(40%);
}

@media screen and (max-width: 768px) {
  .literature-banner h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .book-list h3 {
    font-size: 0.8rem;
  }
}

.literature-list i,
.literature-icon-info i {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .literature-list i,
  .literature-icon-info i {
    font-size: 1rem;
  }
}

.literature-list {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .literature-list {
    padding: 0;
  }
}

.literature-icon-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.literature-icon-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.literature-icon-info li i {
  margin-right: 5px;
}

.literature-icon-info li:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .literature-icon-info {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .literature-icon-info li:not(:last-child) {
    margin-right: 5px;
  }
}

.literature-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.literature-list p {
  line-height: 1.1rem;
}

@media screen and (max-width: 768px) {
  .article-list h4 {
    font-size: 0.8rem;
  }
}
